body,
html {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Roboto", Helvetica;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.site-header {
  background-color: #171717;
  height: 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}
.container-2 {
  padding: 0 150px;
}
.logo img {
  width: 200px;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;

  display: inline;
  padding: 14px 16px;

  position: relative;
}
.nav li {
  display: inline;
}
li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #337dde;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

li:hover a::after,
li.active a::after {
  width: 100%;
}
.block {
  margin-top: 100px;
  background-image: url(img/17ad469f32-1.png);
  height: 830px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  position: absolute;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 60px;
}

.m-s-paslaugos {
  position: absolute;
  top: 176px;
  white-space: nowrap;
}
.teikiame-krovin {
  position: absolute;
  width: 533px;
  top: 180px;

  font-weight: 600;
  font-size: 32px;
}
.patik-kite-krovini {
  position: absolute;
  width: 561px;
  top: 320px;
}
.text-wrapper-4 {
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #a7a9ac;
}
.text-wrapper {
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  line-height: normal;
  white-space: nowrap;
  margin-top: 20px;
}
.p {
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: justify;
  line-height: normal;
  width: 500px;
}
.text-wrapper-5 {
  font-weight: 700;
  color: #337dde;
  font-size: 36px;
  margin-top: 20px;
}
.text-wrapper-7 {
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container-2 {
  background-color: #f5f5f5;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.input-group-inline {
  display: flex;
  width: 600px;
  gap: 10px;
}
#name,
#email {
  width: 100%;
}
.input-group-block {
  display: flex;
  flex-direction: column;
  width: 600px;
}
input,
textarea,
button {
  background-color: transparent;
  outline: 0;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 15px;
}
textarea {
  height: 150px;
}
input::placeholder,
textarea::placeholder {
  color: #171717;
  font-size: 14px;
  font-weight: 600;
}
#btn {
  background-color: #337dde;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#btn img {
  height: 25px;
}
.footer-container {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}
.contact {
  padding-top: 40px;
}
.logo-removebg {
  width: 200px;
  padding: 40px 0;
}
.text-wrapper-20 {
  color: #a7a9ac;
  width: 300px;
}
.text-wrapper-21 {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  padding: 3px 0;
}

.text-wrapper-22 {
  font-weight: 600;
  color: #c7c7c7;
}
.text-wrapper-23 {
  font-weight: 400;
  color: #c7c7c7;
  font-size: 16px;
}

.sep {
  width: 100%;
  display: flex;
  color: #333;
  align-items: center;
  flex: 1;
}

.sep:before {
  content: "";
  height: 1px;
  background: #337dde;
  max-width: 25px;
  margin-right: 10px;
  flex: 1;
}
@media only screen and (min-width: 2000px) {
  .block {
    height: 1183px;
  }
}
